In [ ]:
                               #  ASSIGNMENT :: DATA STRUCTURE

In [29]:
# 1) Write a code to reverse a string.
string1="hello pankaj"
string1[::-1]

'jaknap olleh'

In [30]:
# 2)write a code to count the number of vowels un a srtring.
string=input("Enter the number:")
count=0
string=string.lower()
for i in string:
  if i=='a'or i=='e' or i=='i'or i=='o' or i=='u':
    count=count+1
  if count==0:
    print("no vowels number")
else:
  print("vowels number"+ str(count))


# +str  function  basically  used to  integer converted  into  string

Enter the number:ious
vowels number3

In [31]:
# 3) write a code to check if a given string is a palindrome or not
a=input("enter the string: ")
b=a[::-1]
if(a==b):
  print("palindrome string")
else:
  print("not palindrome string")

# palindrome mean we are applied the reverse operation of the string the reverse string will be same to given string  it is palindrome

enter the string: MADAM
palindrome string

In [32]:
# 4) write a code to check if two given string are anagrams of each other.
s1=input("enter  the string first :")
s2=input("enter the string second :")
if len(s1)==len(s2):
  s1_sorted=sorted(s1)
  s2_sorted=sorted(s2)
if s1==s2:
  print("this is anagrams")
else:
  print("this is not anagrams")

  #1) mean of anagrams both string should be equal lenght
  # 2) both string should have same charachter applied  after  sorted function

enter  the string first :cat
enter the string second :cat
this is anagrams

In [33]:
#  5) write a code to find all occurrences of a given substring within another string.
test_str="GreekforGreek is the best of Greek"
test_sub="Greek"
print("the original string :" +test_str )
print("the original to find:" +test_sub)
res=[i for i in range(len(test_str)) if test_str.startswith(test_sub,i)]
print("the start indinces:"+str(res))

the original string :GreekforGreek is the best of Greek
the original to find:Greek
the start indinces:[0, 8, 29]

In [34]:
# 6) write a code to perform basic string compression using counts to repeated characters.


def compress_string(input_str):
    if not input_str:
        return ""

    compressed = []
    count = 1

    for i in range(1, len(input_str)):
        if input_str[i] == input_str[i - 1]:
            count += 1
        else:
            compressed.append(input_str[i - 1] + str(count))
            count = 1

    compressed.append(input_str[-1] + str(count))
    return min(input_str, "".join(compressed), key=len)

input_str = "AAABBBCCCDDDD"
compressed = compress_string(input_str)
print("Compressed String:", compressed)

Compressed String: A3B3C3D4

In [35]:
# 7) write the code determine the if a string has all unique chachter
str = input("Enter string: ")


def isUnique():
    test_dict = dict()
    is_unique = True
    for c in str:
        if(not test_dict.get(c, False)):
            test_dict[c] = c
        else:
            is_unique = False
            break
    if is_unique:
        return "String is unique"
    else:
        return "String is not unique"

print(isUnique())

Enter string: helo
String is unique

In [36]:
# 8) write a code to convert a given string to uppercase or lowercase
test=input("enter the upper string")
test=test.lower()
print(test)

enter the upper stringHELLO WORD
hello word

In [37]:
# 9) write a code to count the number of words in a string
str=input("enter the word: ")
count=0
for i in str.split(" "):
  count=count+1
  print("total word:",count)

enter the word: my name is pankaj
total word: 1
total word: 2
total word: 3
total word: 4

In [38]:
# 10) write a code to concatenate two string without using the + operator

s1=input("enter the first string : ")
s2=input("enter the second string : ")
print(s1)
print(s2)
conc=" ".join([s1,s2])
print(conc)

# "".join function is used to concatenate two string

enter the first string : welcome
enter the second string : pwskill
welcome
pwskill
welcome pwskill

In [39]:
# 11) write a code to remove all occurrence of specific element from a list.
list=[10,20,10,30,40,50,60,70,80]
n=10
print("original list number")
print(list)
for i in list:
  if i==n:
    list.remove(i)
    print(list)

original list number
[10, 20, 10, 30, 40, 50, 60, 70, 80]
[20, 10, 30, 40, 50, 60, 70, 80]
[20, 30, 40, 50, 60, 70, 80]

In [40]:
# 12) implement a code to find the second largest number in a given list of integer.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is:",a[n-2])

Enter number of elements:5
Enter element:12
Enter element:4
Enter element:5
Enter element:6
Enter element:5
Second largest element is: 6

In [41]:
# 13) create a code to count the occurrence of each element in a list and return a dictionary with element as
# keys and their count as values
list =["apple","banana","red","red","apple","orange"]
dict={x:list.count(x) for x in list }
print(dict)

{'apple': 2, 'banana': 1, 'red': 2, 'orange': 1}

In [42]:
# 14) write a code to reverse a list in -place without using any built-in reverse function.
list=[1,"pankaj","pwskill","Rahul",2,3]
a=list[::-1]
print("reverse list without using reverse function",a)

reverse list without using reverse function [3, 2, 'Rahul', 'pwskill', 'pankaj', 1]

In [43]:
# 15) implement a code to find and remove duplicate from a list while preserving the
# order of element

item=[1,2,2,3,4,5,1]
tuple(dict.fromkeys(item))

(1, 2, 3, 4, 5)

In [44]:
# 16) create a code to check if a given list is sorted (either in ascending or descending order) or not.
list1=[6,2,3,4]
tlist=list1[:]
list1.sort()
if tlist==list1:
  print("the list is ascending oreder")
else:
  print("the is not ascending order")

the is not ascending order

In [45]:
# 17) write a code to merge two sorted list into a single sorted list.
list1=[]
list2=[]
num1=int(input("Enter number of elements for first list:"))
for i in range(1,num1+1):
    b=int(input("Enter element:"))
    list1.append(b)

num2=int(input("Enter number of elements for second list:"))
for i in range(1,num2+1):
    d=int(input("Enter element:"))
    list2.append(d)

list3=list1+list2
list3.sort()
print("Sorted list is:",list3)

Enter number of elements for first list:5
Enter element:20
Enter element:10
Enter element:40
Enter element:30
Enter element:50
Enter number of elements for second list:5
Enter element:60
Enter element:80
Enter element:70
Enter element:100
Enter element:101
Sorted list is: [10, 20, 30, 40, 50, 60, 70, 80, 100, 101]

In [46]:
# 18)implement a code to find the intersection of two given list.
list1 = [1, 2, 3, 4, 4, '5',"educative"]
list2 = [4,"educative", 4, '5', 6, 7, 8,"edu"]

intersection = []

for element in list1:
    if element in list2:
        intersection.append(element)
        list2.remove(element)

print(intersection)

[4, 4, '5', 'educative']

In [2]:
# 19) create a code to find union of two lists without duplicates.
def union(list1 ,list2):
     final_list =sorted(list1 + list2)
     return final_list
list1 = [23,15,2,14,14,16,20,52]
list2 = [2,48,15,12,26,32,47,54]
print(union(list1 , list2))

[2, 2, 12, 14, 14, 15, 15, 16, 20, 23, 26, 32, 47, 48, 52, 54]

In [6]:
# 20) write a code to shuffle a given list randomly without without using any built- in shuffle function.
from random import randint
def shuuffle_arry(arr):
    n = len(arr)
    for i in range(n):
      rand = randint(i , n-1)
      arr[i] , arr[rand] = arr[rand] , arr[i]

    return arr
print(shuuffle_arry([1,2,3,4,5,6,7]))

[1, 5, 4, 7, 2, 6, 3]

In [27]:
#  21) write a code that taken two tuples as input and return a new tuple conatining element that are
# common to both input tuple
def common_elements(tuple1, tuple2):
    return tuple(set(tuple1) & set(tuple2))

# Example usage:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
print(common_elements(tuple1, tuple2))

(4, 5)

In [33]:
# 22) create a code that prompts the user to enter two sets of integer separarted by commas, then , print the
# intersection of these two sets
set1_input = input("Enter elements for Set 1 ")
set1 = set(map(int, set1_input.split()))

# Get user input for set 2
set2_input = input("Enter elements for Set 2  ")
set2 = set(map(int, set2_input.split()))

# Calculate intersection
intersection = set1 & set2

# Print results
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Intersection: {intersection}")

Enter elements for Set 1 1 2 3 4 5
Enter elements for Set 2  4 5 6 7 8
Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Intersection: {4, 5}

In [35]:
# 23) write a code to concatenate two tuple, the function should taken two as input and return a new tuple conatining element from both input tuple

def concat_tuple(tuple1 , tuple2):
  return tuple1 + tuple2
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

print(concat_tuple(tuple1, tuple2))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [37]:
# 24)develop a code that prompts the user to input two sets of string. then ,print the element that are
# present in the first set but not in the second set.
set1_input = input("Enter elements for Set 1: ")
set1 = set(set1_input.split())


set2_input = input("Enter elements for Set 2: ")
set2 = set(set2_input.split())


difference = set1 - set2

print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Elements in Set 1 but not in Set 2: {difference}")

Enter elements for Set 1: apple, banana, date
Enter elements for Set 2: apple, banana, elderberry
Set 1: {'apple,', 'banana,', 'date'}
Set 2: {'apple,', 'banana,', 'elderberry'}
Elements in Set 1 but not in Set 2: {'date'}

In [43]:
# 25) create a code that taken a tuple and two integer as input . the function should return a new tuple
# containing element from the original tuple within the sepecified range of indices.
def slice_tuple(tup, start, end):

    if not isinstance(tup, tuple):
        raise TypeError("Input must be a tuple")
    if not isinstance(start, int) or not isinstance(end, int):
        raise TypeError("Start and end indices must be integers")
    if start < 0 or end > len(tup) or start > end:
        raise ValueError("Invalid start or end index")

    return tup[start:end]

tup = (1,2,3,4,-5,6,7,-8)
start = 2
end = 6
print(slice_tuple(tup, start, end))

(3, 4, -5, 6)

In [9]:
#  26) write a code that prompt the user to input two sets of charachter. then ,print the union of these two sets
set1_input = input("Enter characters for Set 1 (separated by spaces): ")
set1 = set(set1_input.split())
set2_input = input("Enter characters for Set 2 (separated by spaces): ")
set2 = set(set2_input.split())
union = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union: {union}")

Enter characters for Set 1 (separated by spaces): a b c
Enter characters for Set 2 (separated by spaces): c d e
Set 1: {'c', 'b', 'a'}
Set 2: {'d', 'e', 'c'}
Union: {'d', 'b', 'a', 'e', 'c'}

In [16]:
# 27) develop a code that taken a tuple of integer as input.the function should return the maximum and
# minium values from the tuple using tuple unpacking.
def find_max_min(tup):
    if not isinstance(tup, tuple):
        raise TypeError("Input must be a tuple")
    if len(tup) == 0:
        raise ValueError("Tuple cannot be empty")
    min_val,*_,max_val= tup
    for num in tup:
        if num < min_val:
            min_val = num
        elif num > max_val:
            max_val = num
    return min_val, max_val
tup = (12, 45, 7, 23, 56, 89, 34)
min_val, max_val = find_max_min(tup)
print(f"Minimum value: {min_val}")
print(f"Maximum value: {max_val}")

Minimum value: 7
Maximum value: 89

In [17]:
# 28) create a code that defines two sets of integers .then , print the union , intersection, and diffrenece  of these
# two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union = set1.union(set2)
print("Union:", union)
intersection = set1.intersection(set2)
print("Intersection:", intersection)
difference1 = set1.difference(set2)
print("Difference (set1 - set2):", difference1)
difference2 = set2.difference(set1)
print("Difference (set2 - set1):", difference2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}

In [18]:
# 29) write a code that taken a tuple and an element as input.the function should return the count of
# occurrences of the given element in the tuple.
def count_occurrences(tup, element):
    if not isinstance(tup, tuple):
        raise TypeError("Input must be a tuple")
    return tup.count(element)
tup = (1, 2, 3, 2, 4, 2, 5)
element = 2
count = count_occurrences(tup, element)
print(f"Element {element} occurs {count} times in the tuple.")

Element 2 occurs 3 times in the tuple.

In [20]:
# 30) develop a code that prompt the user to input two sets of string. then ,print the symmetric difference of these two sets.
def get_user_input(prompt):
    user_input = input(prompt)
    return set(user_input.split())
def main():
    print("enter the sapce separte string for each set,")
    set1 = get_user_input("Enter first set: ")
    set2 = get_user_input("Enter second set: ")
    symmetric_diff = set1.symmetric_difference(set2)
    print("Symmetric Difference:")
    print(symmetric_diff)
if __name__ == "__main__":
    main()

enter the sapce separte string for each set,
Enter first set: apple banana
Enter second set: banana orange
Symmetric Difference:
{'apple', 'orange'}

In [24]:
# 31) write a code that taken a list of word as input and return a dictionary where the keys are unique words and the values are the frequencies of theose word in the input list
def word_frequencies(word_list):
    frequency_dict = {}
    for word in word_list:
        word = word.lower()
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict
def main():
    word_list = input("Enter space-separated words: ").split()
    frequency_dict = word_frequencies(word_list)
    print("Word Frequencies:")

    for word, frequency in frequency_dict.items():
        print(f"{word}: {frequency}")

if __name__ == "__main__":
    main()

Enter space-separated words: apple banana apple orange banna bana
Word Frequencies:
apple: 2
banana: 1
orange: 1
banna: 1
bana: 1

In [25]:
# 32) write a code that taken two dictionaries as input and merges then into a single dictionary . if there are
# common keys., the values should be added together.
def merge_dictionaries(dict1, dict2):
    merged_dict = {**dict1, **dict2}
    for key in dict1.keys() & dict2.keys():
        merged_dict[key] += dict1[key]
    return merged_dict
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 40, 'c': 50, 'd': 60}

merged = merge_dictionaries(dict1, dict2)
print("Merged Dictionary:", merged)

Merged Dictionary: {'a': 10, 'b': 60, 'c': 80, 'd': 60}

In [26]:
#33)  write a  code to access a value in a nestes dictionary.the function should taken the dictionary and a list of
#keys as input, and return the corresponding value . if and
 #the keys do not exist in the dictionary , the function should return none.


def access_nested_dict(nested_dict, keys):
    value = nested_dict
    for key in keys:
        if isinstance(value, dict) and key in value:
            value = value[key]
        else:
            return None
    return value
nested_dict = {
    'a': 10,
    'b': {'x': 20, 'y': 30},
    'c': {'p': {'r': 40, 's': 50}, 'q': 60}
}

print(access_nested_dict(nested_dict, ['b', 'x']))
print(access_nested_dict(nested_dict, ['c', 'p', 'r']))
print(access_nested_dict(nested_dict, ['d', 'z']))

20
40
None

In [27]:
#  34) write a code that taken a dictionary as and return a sorted version of it based on the values . you
# can choose whether to sort in ascending or descending order.

def sort_dict_by_value(input_dict, order='asc'):

    if order not in ['asc', 'desc']:
        raise ValueError("Invalid order. Use 'asc' or 'desc'.")

    sorted_items = sorted(input_dict.items(), key=lambda x: x[1], reverse=(order == 'desc'))
    return dict(sorted_items)

input_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}

sorted_asc = sort_dict_by_value(input_dict)
print("Sorted (Ascending):", sorted_asc)

sorted_desc = sort_dict_by_value(input_dict, order='desc')
print("Sorted (Descending):", sorted_desc)

Sorted (Ascending): {'b': 5, 'a': 10, 'd': 15, 'c': 20}
Sorted (Descending): {'c': 20, 'd': 15, 'a': 10, 'b': 5}

In [28]:
#  35) write a code that inverts a dictionary , swapping keys and values. ensure that the inverted dictionary
# correcting handles case where multiple keys have the same values but storing the keys as a list in the  inverted dictionary.

def invert_dict(input_dict):

    inverted_dict = {}

    for key, value in input_dict.items():
        if value not in inverted_dict:
            inverted_dict[value] = key
        else:

            if not isinstance(inverted_dict[value], list):
                inverted_dict[value] = [inverted_dict[value]]
            inverted_dict[value].append(key)

    return inverted_dict

input_dict = {
    'a': 10,
    'b': 20,
    'c': 10,
    'd': 30,
    'e': 20
}

inverted = invert_dict(input_dict)
print("Inverted Dictionary:", inverted)

Inverted Dictionary: {10: ['a', 'c'], 20: ['b', 'e'], 30: 'd'}